QWidget {
    color: white;
    background-color: black
}

#sidebar {
    border-right: 2px solid #EE10B0;
    padding: 10px 20px;
}

#Menu,
#recent {
    color: #EE10B0;
    font-size: 12px;

}

QPushButton {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 13px;
    background-color: black;
}

QPushButton:hover {
    background-color: rgb(15, 15, 15);
}

#active-btn {
    background-color: #EE10B0;
}

QScrollBar:vertical {
    border: none;
    background: white;
    width: 12px;
    margin: 0px 3px 0 3px;
}

QScrollBar::handle:vertical {
    background: #EE10B0;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: #ff82dc;
}

QScrollBar::add-line:vertical {
    background: none;
    border-radius: 6px;
}

QScrollBar::sub-line:vertical {
    background: none;
    border-radius: 6px;
}

#home {
    margin: auto;
}

#label1 {
    font-size: 45px;
    background: transparent;
}

#label2 {
    font-size: 16px;
    background: transparent;
    padding: 20px 0px;
}

#discover {
    background-color: #EE10B0;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

#below-label {
    font-size: 35px;
    font-weight: bold;
    padding: 5px;

}

#label-name {
    font-weight: bold;
    font-size: 15px;
}

#artist-name {
    font-size: 13px;
}

#no-playlist {
    font-size: 30px;
    font-weight: bold;
}

#button-view {
    background-color: black;

}
#playbar-content {
    background-color: transparent;
}

#track-label {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
}

#artist-label {
    color: #B0B0C0;
    font-size: 14px;
}

#time-label {
    color: #EE10B0;
    font-size: 14px;
}

