QWidget {
    color: white;
    background-color: black
}

#sidebar {
    border-right: 2px solid #EE10B0;
    padding: 10px 20px;
}

#Menu ,#recent{
    color: #EE10B0;
    font-size: 12px;

}

QPushButton {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 13px;
}
#active-btn{
    background-color: #EE10B0;
    
}